<!-- Cards Container -->
<div class="cards-container">
  {% for product in collections.all.products %}
    {% unless product.tags contains 'Shower' %}
      <div class="product-card">
          <div class="image-wrapper">
              <img src="{{ product.featured_image | img_url: '600x400' }}" 
                   alt="{{ product.title }}" class="card-image">
              
              <!-- Heart Icon Top Right -->
              <div class="heart-icon-top" onclick="toggleHeart(this)" title="Like">
                  <i class="fas fa-heart"></i>
              </div>
          </div>
          
          <div class="card-content">
              <h3 class="card-title">{{ product.title }}</h3>
              <p class="card-description">{{ product.description | strip_html | truncate: 80 }}</p>
              <a href="{{ product.url }}" class="view-link">VIEW SYSTEM</a>
              <button class="wishlist-btn" onclick="toggleWishlist(this)">
                  <i class="fas fa-bookmark"></i>
                  <span>Wishlist</span>
              </button>
          </div>
      </div>
    {% endunless %}
  {% endfor %}
</div>