<style>
{% comment %} .para{
color:red;
margin-top: 20px; 
margin-left:30px;
}, {% endcomment %}
h1{
   
padding-top:{{ section.settings.padding_top }}px;
font-size:{{ section.settings.font_size }}px;
text-align:{{ section.settings.text_align }};
},



</style>
<div class="header">

<h1>{{ section.settings.heading_text }}</h1>




</div>
<div class="para">

<p> {{ section.settings.paragraph }}</p>
 {% if section.settings.mynum > 0 %}
{{ section.settings.mynum }}
 {% endif %}
</div>



{% schema %}
{
"name": "Heading",
"settings": [
    {
    "type": "text",
"id": "heading_text",
"label": "Heading"
},
{
"type": "textarea",
"id": "paragraph",
"label": "Write Paragraph",
"default":"Write your brand paragraph",
},
{
"type": "number",
"id": "mynum",
"label": "My Number",
"default":786
},
{
"type": "range",
"id": "padding_top",
"label": "Padding Top",
"min": 1,
"max": 100,
"unit": "px",
"default":1

},
{
"type": "range",
"id": "font_size",
"label": "Heading Font Size",
"max": 100,
"min": 1,
"unit": "px",
"default":15,
"step": 1,
},
{
"type": "select",
"id": "text_align",
"label": "Text Alignment",
"options": [
    {
    "value": "left",
    "label": "Left Align"
    },
    {
    "value": "center",
    "label": "Center Align"
    },
    
]

}
],
"blocks": [],
"presets": [
    {
    "name": "Class 1"
    }
]


}




{% endschema %}





